
<div class="modal">
  <div class="modal__content">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input type="text" formControlName="name" />
        <span *ngIf="userForm.get('name')?.hasError('usernameTaken')" class="error">
          This username is already taken.
        </span>
      </div>
      <div>
        <label for="active">Active:</label>
        <input type="checkbox" formControlName="active" />
      </div>
      <button type="submit" [disabled]="!userForm.valid">Submit</button>
    </form>
    <div (click)="closeModal.emit()" class="modal__close">&times;</div>
  </div>
</div>
